/*=========================================
    Primary Color
=========================================*/
body a {
	color: #ee591f;
}
/* Header CSS */
.header-top-info-1 .social li a i:hover {
    background: #ee591f;
}

/* Menu CSS */
.header-center > a.navbar-brand::first-letter {
	color: #ee591f !important;
}
.nav-center {
	background: #ee591f;
}
.navbar-default .navbar-nav>.active > a, .navbar-default .navbar-nav>.active>a:hover, .dropdown-menu > .active > a {
    background: #ee591f !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
    color: #ee591f;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background: #ee591f !important;
}

/* Slider CSS */
.slider-version-one .caption h1 span{
    color: #ee591f;
}
.specia-btn-1:hover{
    background: #ee591f;
	border-color: #ee591f;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover {
    background: #ee591f;
}
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #ee591f;
}

/* Service CSS */
.section-heading span{
    color: #ee591f;
}
.icon-block.icon-block-1:hover .icon-block-item i {
    color: #ee591f;
}

/* Cal Action CSS */
.call-to-action .background-overlay{
    background: #ee591f;
}
.call-to-action .call-btn-1:hover {
    color: #ee591f;
}

/* Service Section CSS */
.service-version-one .service-icon-box i:hover {
    background: #ee591f;
}
.specia-icon-effect-1 .specia-icon:after {
	box-shadow: 0 0 0 4px #ee591f;
}
.specia-icon-effect-5 .specia-icon:hover {
	box-shadow: 0 0 0 4px #ee591f;
}
.specia-icon-effect-6 .specia-icon:hover {
	box-shadow: 0 0 0 4px #ee591f;
}
.specia-icon-effect-8 .specia-icon:hover {
	background: #ee591f;
}
/* Features Section CSS */
.features-version-one h2 span{
    color: #ee591f;
}
.features-version-one .feature-box-info h4{
    color: #ee591f;
}

/* Latest Blog Section CSS */
.blog-version-1 article:hover footer.entry-footer{
     background: #ee591f;
}
.entry-content .more-link:hover {
    background: #ee591f;
	border: solid 2px #ee591f;
}

/* Footer Section CSS */
.footer-sidebar .widget .title-border { 
    border-bottom: 2px solid #ee591f;
}
.widget table #next a, .widget table #prev a { 
	color: #ee591f; font-weight: 600; 
}
.footer-sidebar  .widget ul li a:hover, .widget ul li a:active { 
    color: #ee591f; 
}
.footer-sidebar .widget input[type="submit"]:hover{
    background: #ee591f;
    border-color: #ee591f;
}
.tagcloud a:hover, .tagcloud a:focus {  
    border: 1px solid #ee591f;
    background: #ee591f;
}  

/* Copyright Content */
.payment-icon li a:hover{
    color: #ee591f;
}
.footer-copyright p a:hover{
    color: #ee591f;
}
.top-scroll {
    border-color: #ee591f;
    color: #ee591f;
}

/* Pagination CSS */
.paginations a:hover, .paginations a:focus, .paginations a.active, span.page-numbers.current {
    border: 1px solid #ee591f;
    background-color: #ee591f;
}

/* Blog Page CSS */
.page-wrapper article:hover footer.entry-footer {
     background: #ee591f;
}
.comment-reply-title {
    border-top: 4px solid #ee591f;
}
.required {
    color: #ee591f;
}
a.comment-reply-link {
    color: #ee591f;
}

/* Error Page CSS */
.error-page h1{
    color: #ee591f;
}

/* Form Element CSS */
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    background: #ee591f;
    border: solid 2px #ee591f;
}

/* Breadcrumb CSS */
.page-breadcrumb a{
    color: #ee591f;
}

/*Sidebar Area CSS */
.sidebar .widget ul li a:hover, .widget ul li a:active { 
    color: #ee591f; 
}
.sidebar .widget input[type="submit"]:hover{
    background: #ee591f;
    border-color: #ee591f;
}
.sidebar .widget .title-border { 
    border-bottom: 2px solid #ee591f;
}
/* Typography */
blockquote { 
    border-left: 5px solid #ee591f !important;
}
table th {     
    border: 1px solid #ee591f;
    background: #ee591f;
}
em, cite, q { 
	color: #ee591f;
}
s, strike, del { 
	color: #ee591f; 
}
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #ee591f;
}
body a:focus, body a:hover {
    color: #ee591f;
}

/* Form */
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
    background: #ee591f;
    border: solid 2px #ee591f;
}

/* WooCommerce */
.woocommerce a.button:hover, 
.woocommerce button.button.alt:hover, 
.woocommerce #respond input#submit:hover,
.woocommerce input.button.alt:hover,
.woocommerce button.button.alt.disabled:hover,
.woocommerce-cart table.cart input.button:hover,
.woocommerce input.button:hover,
.woocommerce button.button:hover {
	background: #ee591f;
    border: solid 2px #ee591f;
}
.woocommerce nav.woocommerce-pagination ul li span.current {
	background: #ee591f;
	border: solid 1px #ee591f;
}
.woocommerce nav.woocommerce-pagination a.page-numbers:hover {
	background: #ee591f;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover {
	background: #ee591f;
    border: solid 2px #ee591f;
}
.woocommerce p.stars a {
	color: #ee591f;
}
.woo-sidebar .widget .title-border { 
    border-bottom: 2px solid #ee591f;
}
.woocommerce a.remove:hover {
	background: #ee591f;
}
.price_slider_wrapper .ui-slider .ui-slider-handle {
    border: 5px solid #ee591f;
}
.price_slider_wrapper .ui-slider .ui-slider-range {
  background: #ee591f;
}
.woocommerce-MyAccount-navigation ul li.is-active {
	background: #ee591f;
}

/* --------------------------------------
=========================================
    Secondary Color
=========================================
-----------------------------------------*/
/* Menu CSS */
.navbar-brand {
	color: #242526 !important;
}
/* Slider CSS */
.owl-theme .owl-controls .owl-nav [class*=owl-] {
    background: #202c3b;
}
/* Service CSS */
.section-heading{
    color: #242526;
}
.icon-block.icon-block-1 .icon-block-body h4 a {
    color: #242526;
}
/* Latest Blog Section CSS */
.blog-version-1 footer.entry-footer {
    background: #242526;
}
.entry-content .more-link {
    color: #242526;
    border: solid 2px #242526;
}

/* Footer Section CSS */
.footer-sidebar .widget table caption, .woo-sidebar .widget table caption  { 
    background: #242526;
}
.footer-sidebar .background-overlay {
	background: #242526;
}
/* Footer Copyright Section */
.footer-copyright, .footer-copyright p, .footer-copyright p a {
    background: #242526;
}

/* Blog Page CSS */
footer.entry-footer {
    background: #242526;
}   
h2.entry-title a {
    color: #242526;
}
.entry-header h2.entry-title {
    color: #242526;
}

/* Error Page CSS */
.error-page h2{
    color: #242526;
}

/* Form Element CSS */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    color: #242526;
    border: solid 2px #242526;
}

/*Sidebar Area CSS */
.sidebar .widget .widget-title {
    color: #242526;
}
.sidebar .widget input[type="submit"] {
    color: #242526;
    border: solid 2px #242526;
}
.sidebar .widget table caption { 
    background: #242526;
}
/* Typography */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: #242526;
}
blockquote cite, blockquote small { 
	color: #242526;
}
address { 
	color: #242526;
}
ins { 
	color: #242526;
}	
/* WooCommerce */
.woocommerce a.button, 
.woocommerce button.button.alt, 
.woocommerce #respond input#submit,
.woocommerce input.button.alt, 
.woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled],
.woocommerce-cart table.cart input.button,
.woocommerce input.button,
.woocommerce button.button {
	color: #242526;
    border: solid 2px #242526;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
    border: solid 2px #242526;
	color: #242526;
}
.price_slider_wrapper .ui-slider-horizontal {
  background: #242526;
}
.woocommerce-MyAccount-navigation ul li {
	background: #242526;
}
.woocommerce-checkout #payment div.payment_box {
	background-color: #242526;
}
#add_payment_method #payment div.payment_box:before, .woocommerce-cart #payment div.payment_box:before, .woocommerce-checkout #payment div.payment_box:before {
	border: 1em solid #242526;
}	
