@media only screen and (min-width: 200px) and (max-width: 480px) {
    /*---------------------------------------
    Home Slider
    -----------------------------------------*/
   .slider-version-one .caption {
		margin: auto;
		width: 70%;
    }
    .slider-version-one .caption h1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
		text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }

    .slider-version-one .caption p {
        font-weight: normal;
        font-size: 13px;
		text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }
    .slider-version-one .item {
        min-height: 250px;
    }
    .slider-version-one .item img {
        min-height: 250px;
        background-size: 
    }
    .slider-version .owl-controls .owl-dots .owl-dot{
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /*---------------------------------------
    Home Slider
    -----------------------------------------*/
   .slider-version-one .caption {
		margin: auto;
		width: 70%;
    }
    .slider-version-one .caption h1 {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
		text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }

    .slider-version-one .caption p {
        font-weight: normal;
        font-size: 13px;
		text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }
    .slider-version-one .item {
        min-height: 250px;
    }
    .slider-version-one .item img {
        min-height: 250px;
        background-size: 
    }
    .slider-version .owl-controls .owl-dots .owl-dot{
        display: none;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /*---------------------------------------
    Home Slider
    -----------------------------------------*/
   .slider-version-one .caption {
		margin: auto;
		width: 70%;
    }
    .slider-version-one .caption h1 {
        font-size: 28px;
        font-weight: 600;
        line-height: 30px;
		text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }

    .slider-version-one .caption p {
        font-weight: normal;
        font-size: 13px;
		text-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    }
    .slider-version-one .item {
        min-height: 250px;
    }
    .slider-version-one .item img {
        min-height: 250px;
        background-size: 
    }
}

@media only screen and (min-width: 960px) and (max-width: 1200px) {
}